[Libraries]
Library/
Temp/
Obj/
Build/
Builds/
Logs/
MemoryCaptures/

# Visual Studio / Rider / IDE
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# OS files
.DS_Store
Thumbs.db

# Unity Cache
*.pidb.meta
*.pdb
*.mdb